@tailwind base;
@tailwind components;
@tailwind utilities;


body, h1 {
    font-family: 'Markazi Text', serif;
  }

  h2, h3, button {
    font-family: 'Karla', sans-serif;
  }

  p, h4, h5 {
    font-family: Arial, sans-serif; 
  }